In [2]:
import acquire, wrangle_zillow
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing
from sklearn.model_selection import train_test_split

df = wrangle_zillow.new_zillow_data()
df.shape

(77380, 70)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77380 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77380 non-null  float64
 4   heatingorsystemtypeid         49439 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77380 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77380 non-null  float64
 11  bedroomcnt                    77380 non-null  float64
 12  buildingqualitytypeid         49671 non-null  float64
 13  calculatedbathnbr             76771 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77184 non-null  float64
 17  finishedsquarefeet12          73748 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77380 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76771 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77380 non-null  float64
 29  longitude                     77380 non-null  float64
 30  lotsizesquarefeet             69141 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77380 non-null  object
 37  propertyzoningdesc            50330 non-null  object
 38  rawcensustractandblock        77380 non-null  float64
 39  regionidcity                  75909 non-null  float64
 40  regionidcounty                77380 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77330 non-null  float64
 43  roomcnt                       77380 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  id                            77380 non-null  int64
 60  logerror                      77380 non-null  float64
 61  pid                           77380 non-null  int64
 62  tdate                         77380 non-null  object
 63  airconditioningdesc           24953 non-null  object
 64  architecturalstyledesc        206 non-null    object
 65  buildingclassdesc             15 non-null     object
 66  heatingorsystemdesc           49439 non-null  object
 67  propertylandusedesc           77380 non-null  object
 68  storydesc                     50 non-null     object
 69  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(4), object(11)
memory usage: 41.3+ MB

In [4]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,pid,tdate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0.025595,14297519,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,0.055619,17052889,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,0.005383,14186244,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,-0.103410,12177905,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,0.006940,10887214,2017-01-01,Central,None,None,Central,Condominium,None,None

# Lets get rid of a few columns

In [7]:
df = df.drop(columns=['parcelid','typeconstructiontypeid','storytypeid','propertylandusetypeid',
                      'heatingorsystemtypeid','buildingclasstypeid','architecturalstyletypeid',
                      'airconditioningtypeid','id','basementsqft','buildingqualitytypeid','decktypeid',
                      'finishedfloor1squarefeet','finishedsquarefeet12','finishedsquarefeet13',
                      'finishedsquarefeet50','finishedsquarefeet15','finishedsquarefeet6','fireplacecnt',
                      'garagetotalsqft','poolsizesum','pooltypeid10','pooltypeid2','pooltypeid7',
                      'propertycountylandusecode','propertyzoningdesc','rawcensustractandblock',
                      'regionidcounty','regionidneighborhood','threequarterbathnbr','unitcnt',
                      'yardbuildingsqft17','yardbuildingsqft26','fireplaceflag','structuretaxvaluedollarcnt',
                      'assessmentyear','landtaxvaluedollarcnt','taxdelinquencyflag','taxdelinquencyyear',
                      'censustractandblock','id','pid','airconditioningdesc','architecturalstyledesc',
                      'buildingclassdesc','heatingorsystemdesc','storydesc'])
df

,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fullbathcnt,garagecarcnt,hashottuborspa,latitude,longitude,...,regionidzip,roomcnt,yearbuilt,numberofstories,taxvaluedollarcnt,taxamount,logerror,tdate,propertylandusedesc,typeconstructiondesc
0,3.5,4.0,3.5,3100.0,6059.0,3.0,2.0,NaN,33634931.0,-117869207.0,...,96978.0,0.0,1998.0,NaN,1023282.0,11013.72,0.025595,2017-01-01,Single Family Residential,None
1,1.0,2.0,1.0,1465.0,6111.0,1.0,1.0,NaN,34449266.0,-119281531.0,...,97099.0,5.0,1967.0,1.0,464000.0,5672.48,0.055619,2017-01-01,Single Family Residential,None
2,2.0,3.0,2.0,1243.0,6059.0,2.0,2.0,NaN,33886168.0,-117823170.0,...,97078.0,6.0,1962.0,1.0,564778.0,6488.30,0.005383,2017-01-01,Single Family Residential,None
3,3.0,4.0,3.0,2376.0,6037.0,3.0,NaN,NaN,34245180.0,-118240722.0,...,96330.0,0.0,1970.0,NaN,145143.0,1777.51,-0.103410,2017-01-01,Single Family Residential,None
4,3.0,3.0,3.0,1312.0,6037.0,3.0,NaN,NaN,34185120.0,-118414640.0,...,96451.0,0.0,1964.0,NaN,119407.0,1533.89,0.006940,2017-01-01,Condominium,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77375,3.0,3.0,3.0,1741.0,6037.0,3.0,NaN,NaN,34202400.0,-118502000.0,...,96415.0,0.0,1980.0,NaN,379000.0,4685.34,-0.002245,2017-09-20,Condominium,None
77376,2.0,2.0,2.0,1286.0,6037.0,2.0,NaN,NaN,34245368.0,-118282383.0,...,96284.0,0.0,1940.0,NaN,354621.0,4478.43,0.020615,2017-09-20,Single Family Residential,None
77377,2.0,4.0,2.0,1612.0,6111.0,2.0,2.0,NaN,34300140.0,-118706327.0,...,97116.0,7.0,1964.0,1.0,67205.0,1107.48,0.013209,2017-09-21,Single Family Residential,None
77378,1.0,3.0,1.0,1032.0,6037.0,1.0,NaN,NaN,34040895.0,-118038169.0,...,96480.0,0.0,1954.0,NaN,49546.0,876.43,0.037129,2017-09-21,Single Family Residential,None
77379,2.0,3.0,2.0,1762.0,6037.0,2.0,NaN,NaN,33937685.0,-117996709.0,...,96171.0,0.0,1955.0,NaN,522000.0,6317.15,0.007204,2017-09-25,Single Family Residential,None

In [15]:
def get_counties():
    # create dummy vars of fips id
    county_df = pd.get_dummies(df.fips)
    # rename columns by actual county name
    county_df.columns = ['LA', 'Orange', 'Ventura']
    # concatenate the dataframe with the 3 county columns to the original dataframe
    df_dummies = pd.concat([df, county_df], axis = 1)
    # drop regionidcounty and fips columns
    df_dummies = df_dummies.drop(columns = ['fips'])
    return df_dummies

In [16]:
get_counties()

,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,fullbathcnt,garagecarcnt,hashottuborspa,latitude,longitude,lotsizesquarefeet,...,numberofstories,taxvaluedollarcnt,taxamount,logerror,tdate,propertylandusedesc,typeconstructiondesc,LA,Orange,Ventura
0,3.5,4.0,3.5,3100.0,3.0,2.0,NaN,33634931.0,-117869207.0,4506.0,...,NaN,1023282.0,11013.72,0.025595,2017-01-01,Single Family Residential,None,0,1,0
1,1.0,2.0,1.0,1465.0,1.0,1.0,NaN,34449266.0,-119281531.0,12647.0,...,1.0,464000.0,5672.48,0.055619,2017-01-01,Single Family Residential,None,0,0,1
2,2.0,3.0,2.0,1243.0,2.0,2.0,NaN,33886168.0,-117823170.0,8432.0,...,1.0,564778.0,6488.30,0.005383,2017-01-01,Single Family Residential,None,0,1,0
3,3.0,4.0,3.0,2376.0,3.0,NaN,NaN,34245180.0,-118240722.0,13038.0,...,NaN,145143.0,1777.51,-0.103410,2017-01-01,Single Family Residential,None,1,0,0
4,3.0,3.0,3.0,1312.0,3.0,NaN,NaN,34185120.0,-118414640.0,278581.0,...,NaN,119407.0,1533.89,0.006940,2017-01-01,Condominium,None,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77375,3.0,3.0,3.0,1741.0,3.0,NaN,NaN,34202400.0,-118502000.0,59487.0,...,NaN,379000.0,4685.34,-0.002245,2017-09-20,Condominium,None,1,0,0
77376,2.0,2.0,2.0,1286.0,2.0,NaN,NaN,34245368.0,-118282383.0,47405.0,...,NaN,354621.0,4478.43,0.020615,2017-09-20,Single Family Residential,None,1,0,0
77377,2.0,4.0,2.0,1612.0,2.0,2.0,NaN,34300140.0,-118706327.0,12105.0,...,1.0,67205.0,1107.48,0.013209,2017-09-21,Single Family Residential,None,0,0,1
77378,1.0,3.0,1.0,1032.0,1.0,NaN,NaN,34040895.0,-118038169.0,5074.0,...,NaN,49546.0,876.43,0.037129,2017-09-21,Single Family Residential,None,1,0,0
77379,2.0,3.0,2.0,1762.0,2.0,NaN,NaN,33937685.0,-117996709.0,6347.0,...,NaN,522000.0,6317.15,0.007204,2017-09-25,Single Family Residential,None,1,0,0

In [17]:
#what type of properties are in the df

df.propertylandusedesc.unique()

array(['Single Family Residential', 'Condominium',
       'Duplex (2 Units, Any Combination)', 'Residential General',
       'Planned Unit Development', 'Triplex (3 Units, Any Combination)',
       'Quadruplex (4 Units, Any Combination)',
       'Commercial/Office/Residential Mixed Used', 'Cluster Home',
       'Cooperative', 'Manufactured, Modular, Prefabricated Homes',
       'Mobile Home', 'Townhouse'], dtype=object)